In [14]:
import sys

In [15]:
%cd C:\Users\noahc\Jupyter\FirstSteps

C:\Users\noahc\Jupyter\FirstSteps

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
import seaborn as sns
from featurewiz import featurewiz
from sklearn.model_selection import *

In [17]:
df = pd.read_csv("ACME-HappinessSurvey2020.csv")
df.head(4)

   Y  X1  X2  X3  X4  X5  X6
0  0   3   3   3   4   2   4
1  0   3   2   3   5   4   3
2  1   5   3   3   3   3   5
3  0   5   4   3   3   3   5

In [18]:
from scipy import stats

In [19]:
z=np.abs(stats.zscore(df))
print(z)

            Y       X1        X2        X3        X4        X5        X6
0    1.100239  1.67332  0.421676  0.303642  0.291150  1.444166  0.315061
1    1.100239  1.67332  0.478852  0.303642  1.437552  0.305497  1.555612
2    0.908893  0.83666  0.421676  0.303642  0.855253  0.569335  0.925491
3    1.100239  0.83666  1.322205  0.303642  0.855253  0.569335  0.925491
4    1.100239  0.83666  1.322205  0.303642  0.855253  0.569335  0.925491
..        ...      ...       ...       ...       ...       ...       ...
121  0.908893  0.83666  0.478852  0.303642  0.291150  0.305497  1.555612
122  0.908893  0.83666  0.478852  0.303642  0.291150  1.444166  0.925491
123  0.908893  0.83666  0.421676  0.303642  0.291150  0.305497  0.925491
124  1.100239  0.41833  0.421676  0.303642  0.291150  0.305497  0.925491
125  1.100239  0.83666  0.421676  1.284640  1.437552  1.180328  0.925491

[126 rows x 7 columns]

In [20]:
threshold = 3
print(np.where(z > 3))

(array([ 34,  47, 119, 119], dtype=int64), array([4, 1, 4, 6], dtype=int64))

In [21]:
dfd = df.drop([34,47,119])

In [22]:
inputs = dfd.drop('Y', axis='columns')
target = dfd['Y']

In [23]:
print(dfd)

     Y  X1  X2  X3  X4  X5  X6
0    0   3   3   3   4   2   4
1    0   3   2   3   5   4   3
2    1   5   3   3   3   3   5
3    0   5   4   3   3   3   5
4    0   5   4   3   3   3   5
..  ..  ..  ..  ..  ..  ..  ..
121  1   5   2   3   4   4   3
122  1   5   2   3   4   2   5
123  1   5   3   3   4   4   5
124  0   4   3   3   4   4   5
125  0   5   3   2   5   5   5

[123 rows x 7 columns]